<div class="row">
  <div class="text-center well well-sm">
    {{currentTime | date:'medium'}}
  </div>
  <table class="table table-bordered">
      <tbody>
          <tr ng-repeat="row in grid">
              <td ng-repeat="c in row track by $index">
                <div style="font-size: 22px" ng-style="{opacity : (c.selected && '1') || '0.25'}">
                  {{c.char}}
                </div>
              </td>
          </tr>
  </table>

  <div class="row text-center">
  			<input type='button' class='btn' name='previous' ng-click="previous()" value='Previous' />
  			<input type='button' class='btn' name='next' ng-click="next()" value='Next' />
  </div>
</div>
