<div class="row-fluid" fullscreen>
  <!--
  <div class="text-center well well-sm">
    {{currentTime | date:'medium'}}
  </div>
  -->
  <table class="table table-responsive fill">
      <tbody>
          <tr ng-repeat="row in grid">
              <td ng-repeat="c in row track by $index">
                <div class="text-center letter-font" ng-style="{opacity : (c.selected && '1') || '0.15'}">
                  {{c.char}}
                </div>
              </td>
          </tr>
  </table>

  <!-- For debugging purposes
  <div class="row text-center">
  			<input type='button' class='btn' name='previous' ng-click="previous()" value='Previous' />
  			<input type='button' class='btn' name='next' ng-click="next()" value='Next' />
  </div>
  -->
</div>
